<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 配置分页助手 -->
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<!-- 设置方言，使用mysql分页方式 -->
			<property name="properties" value="mysql" />
			<!-- 设置为true，使用RowBounds分页会进行count查询 -->
			<property name="rowBoundsWithCount" value="true"/>
		</plugin>
	</plugins>
</configuration>